body{
    background: url(https://lh5.googleusercontent.com/proxy/AKh9rXzi4T1_7NU3qRMgkMo5cbVcZ3gm1f_x6pACUERA2a-72d6XqbcqPaNcJMElBNq5gT_aAdfSdauaajt-rFeL6C9go26GAMSel5RHN-Ol__yIDeN5Ww2wrrvUxVsTDoDRKrc2huC4HMAxPey6kmHtOJCDS0pDmBnSleT5wtljAELHIg=s0-d);
}
h1{
    background-color:#547fab;
    color: white;
}
ol{
     background-color:#547fab;
    color: white;
}
.fav{
    background-color:red;
}
.al{
     background-color:#547fab ;
}
.gd{
    background-color:#FEFEFE ;
}
p {
    font-family: 'Libre Baskerville', serif;
}
h4 {
    font-family: 'Libre Baskerville', serif;
}